*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins' sans-serif
}
.binta{
    width: 100%;
    height: 100vh;
    background-image: url(images/Group\ 25.png);
    background-repeat: no-repeat;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}
h1{
    color: #fff;
   background: gray;
   width: 23%;
   padding: 20px;
   margin: auto;
   margin-top: -8%;
   font-size: 20px;
}
p{
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 16px;
}
.ecran{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px; 
}
.designer{
    border: 1px solid green;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px;
    margin-top: -6%;
    font-size: 15px;
}
.para{
    display: flex;
    justify-content: space-evenly;
    padding: 18px;
    margin-top: -1%; 
}
/* header{
    height: 100vh;
    width: 100vh;
    background-size: cover;
} */
.navbar{
    padding: 50px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}
.navbar a{
     color: black;
}
.navbar .nav-links ul{
      display: flex;
}
.navbar .nav-links ul li{
    margin: 0 30px;
}
.design{
  background-color: gainsboro;
   width: 100%;
   padding: 15px;
}
 .container{
    display: flex;
    justify-content: space-around;
    font-size: 45px;
    margin: 120px;
} 
.graphe{
    display: flex;
    justify-content: space-evenly;
    margin-top: -70px;
}
.terminal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 290px 300px;
}
.bak{
    display: flex;
    justify-content: space-around;
    font-size: 45px;
    margin: 100px; 
}
.back{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -80px; 
}
.titles{
    margin: 10px;
    padding: 70px;
    position: relative;
    top: 60px;  
}
.team{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 50px;
}
.teams{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress{
   
    width: 40%;
    background-color: #DCDCDC;  
}
.class{
    position: relative;
    right: 50px;
}
.skillset{
    text-align: right;
    color: #fff;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.mysql{
    width: 100%;
    background-color: #8FBC8F;
}
.html{
    width: 80%;
    background-color: #8FBC8F;
}
.css{
    width: 90%;
    background-color: #8FBC8F;
}
.sql{
    width: 70%;
    color: #8FBC8F;
    background-color: #8FBC8F;
}
.bar{
    margin-bottom: 2px;
    font-size: 18px;
}
.barre{
    color: #fff;
}
.pro{
    display: flex;
    justify-content: space-around;    
}

.pro1{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;    
}
.bar1{
    position: relative;
    top: 20px;
    left: 32px;
}
.bar2{
    position: relative;
    bottom:30px;
    left: 128px;
}
.bar3{
    position: relative;
    left: 27px;
    bottom: 30px;
}
.binty{
    width: 100%;
    height: 700px;
    background-image: url(images/Rectangle\ 66\ \(1\).png);  
}
.notre{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
}
.logos{
     display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
} 
.imges{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
   display: flex;
   justify-content: center;
   align-items: center;
}
.test{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 60px;
}
.binti{
    width: 1300px;
    height: 550px;
    background-image: url(images/Rectangle\ 68\ \(2\).png);
}
.inf{
    display: flex;
    justify-content: space-around;
    align-items: center;
   padding: 50px;
} 
.contenu-footer{
       width: 1200px;
       margin: 0 auto;
       display: flex;
       justify-content: center;
       align-items: flex-start;
       font-size: 15px;
       padding: 60px 0 50px; 
}
.bloc{
    width: 25%;
    margin: 0 30px;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}
.cop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px;
}
